:root {
    --t4b-wot-bg: url('/themes/twitch4bet/wot.svg');
    --t4b-cs2-bg: url('/themes/twitch4bet/cs2.svg');
    --t4b-valorant-bg: url('/themes/twitch4bet/valorant.svg');
    --t4b-dota2-bg: url('/themes/twitch4bet/dota2.svg');
    --t4b-lol-bg: url('/themes/twitch4bet//lol.svg');
    --t4b-wot-bg-telegram: url('/themes/twitch4bet/wot-telegram.webp');
    --t4b-cs2-bg-telegram: url('/themes/twitch4bet/cs2-telegram.webp');
    --t4b-valorant-bg-telegram: url('/themes/twitch4bet/valorant-telegram.webp');
    --t4b-dota2-bg-telegram: url('/themes/twitch4bet/dota2-telegram.webp');
    --t4b-lol-bg-telegram: url('/themes/twitch4bet/lol-telegram.webp');
    --t4b-wot-bga: url('/themes/twitch4bet/wot-alpha.svg');
    --t4b-cs2-bga: url('/themes/twitch4bet/cs2-alpha.svg');
    --t4b-valorant-bga: url('/themes/twitch4bet/valorant-alpha.svg');
    --t4b-dota2-bga: url('/themes/twitch4bet/dota2-alpha.svg');
    --t4b-lol-bga: url('/themes/twitch4bet/lol-alpha.svg');
    --t4b-wot-bg-gr: url('/themes/twitch4bet/wot-gr.svg');
    --t4b-cs2-bg-gr: url('/themes/twitch4bet/cs2-gr.svg');
    --t4b-valorant-bg-gr: url('/themes/twitch4bet/valorant-gr.svg');
    --t4b-dota2-bg-gr: url('/themes/twitch4bet/dota2-gr.svg');
    --t4b-lol-bg-gr: url('/themes/twitch4bet/lol-gr.svg');
    --t4b-football-bg-gr: url('/themes/twitch4bet/football.svg');
}

:root[data-theme='light'] {
    --t4b-primary-accent: #171717;
    --t4b-primary-accent-hover: #333232;
    --t4b-primary-accent-rgb: 0, 0, 0;
    --t4b-selection-bg:rgb(216, 212, 227);
    --t4b-floating-mobile-menu-bg: hsl(0deg 3.96% 23.1% / 20%);
}

:root[data-theme='dark'] {
    --t4b-primary-accent: #fff;
    --t4b-primary-accent-hover: #d6d4d4;
    --t4b-primary-accent-rgb: 255, 255, 255;
    --t4b-selection-bg: #584490a3;
    --t4b-floating-mobile-menu-bg: hsl(0deg 3.96% 23.1% / 20%);
}
